@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

.login-container {
  display: flex;
  height: 100vh;
  background-color: #014421;
}

.left-side {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  padding: 20px;
  margin-left: 250px;
}

.image-above-login-box {
  width: 156px;
  height: 152px;
  margin-bottom: 20px; 
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.logo {
  color: white;
  width: 301px;
  height: 45px;
  margin: 20px 0; 
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #014421;
  padding-top: 10px; 
}

.login-box {
  width: 320px; 
  padding: 20px;
  background-color: #235E4A;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: -40px; 
}

.login-header {
  width: 100%; 
  text-align: left;
  margin-bottom: 20px;
}

.login-title {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin: 0;
}

.login-subtitle {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  height: 100%;
}

.login-form-item {
  width: 100%; 
  margin-bottom: 15px; 
}

.login-input {
  width: 100%;
  height: 50px; 
  text-align: left;
}

.login-button {
  width: 100%; 
}

.login-form-item p {
  color: white;
  margin-bottom: 5px; 
  text-align: left;
  width: 100%;
}
