@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

.login-container {
  display: flex;
  height: 100vh;
  background-color: #014421;
}

.left-side {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center align vertically */
  align-items: flex-start; /* Align items to the start horizontally */
  padding: 20px;
  margin-left: 250px;
}

.image-above-login-box {
  width: 156px;
  height: 152px;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.logo {
  color: white;
  width: 301px;
  height: 45px;
  margin: 20px 0; /* Adjust the margin as needed */
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #014421;
  padding-top: 10px; /* Reduced padding to lift the login box */
}

.login-box {
  width: 320px; /* Adjusted width */
  padding: 20px;
  background-color: #235E4A;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center align items horizontally */
  margin-top: -40px; /* Negative margin to lift the box further */
}

.login-header {
  width: 100%; /* Match the width of the login box */
  text-align: left;
  margin-bottom: 20px;
}

.login-title {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin: 0;
}

.login-subtitle {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

.login-form {
  width: 100%; /* Cover the entire width of the box */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the start horizontally */
  height: 100%; /* Fill the entire height of the box */
}

.login-form-item {
  width: 100%; /* Cover the entire width of the box */
  margin-bottom: 15px; /* Adjusted margin */
}

.login-input {
  width: 100%;
  height: 50px; /* Adjusted height for input fields */
  text-align: left; /* Center align text within input fields */
}

.login-button {
  width: 100%; /* Cover the entire width of the box */
}

.login-form-item p {
  color: white;
  margin-bottom: 5px; /* Reduced margin between label and input */
  text-align: left;
  width: 100%;
}
