// src/styles/Signup.scss
.signup-container {
    display: flex;
    height: 100vh;
    background-color: #004d40; // Dark green background
  }
  
  .signup-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    background-color: #00332a; // Slightly darker shade for contrast
  }
  
  .signup-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #00332a; // Matching color with signup-left
  }
  
  .signup-box {
    width: 100%;
    max-width: 300px;
    height: 400px; // Increased height
    display: flex;
    flex-direction: column;
    justify-content: center; // Center vertically
    align-items: center; // Center horizontally
    padding: 20px;
    background-color: #024d44; // Light green color for signup box
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signup-box .ant-form-item {
    margin-bottom: 16px;
  }
  
  .signup-box .ant-input {
    width: 100%; // Ensure inputs take full width
    height: 40px;
  }
  
  .signup-box .ant-btn-primary {
    width: 100%;
    height: 40px;
  }
  